version: '3.8'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - elk

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.11.0
    user: root
    volumes:
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - jenkins_logs:/var/log/jenkins:ro
    command: filebeat -e -strict.perms=false
    depends_on:
      - elasticsearch
    networks:
      - elk

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.0
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - xpack.security.enabled=false
    depends_on:
      - elasticsearch
    networks:
      - elk
    
    logstash:
      image: docker.elastic.co/logstash/logstash:8.11.0
      container_name: logstash
      user: root
      volumes:
        - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
      ports:
        - "5044:5044"
      networks:
        - elk
      depends_on:
        - elasticsearch

  jenkins:
    build: .
    ports:
      - "8089:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - jenkins_logs:/var/log/jenkins
    networks:
      - elk

volumes:
  es_data:
  jenkins_home:
  jenkins_logs:

networks:
  elk:
    driver: bridge
